# Node
node_modules/
npm-debug.log*
yarn-error.log

# CAP/DB
sqlite.db
db.sqlite
*.hdbtabledata

# Env
.env
.env.local
*.tmp
.server_pid
server.err
tmp/
tmp_*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
*.code-workspace


# added by cds
.cdsrc-private.json
